<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css"/>
    </head>
    <body>
       <h1>ALF</h1>
       <p><!DOCTYPE html>

<body>

<h2></h2>
<!DOCTYPE html>
<body>

<h2></h2>
<img src="https://media.tenor.co/images/fbee9091b62d5807626df730cec28445/raw" alt="Mountain View" style="width:800px;height:600px;">

<audio autoplay="autoplay" loop>
    <source src= "song.mp3">
</audio> 

<html>
